@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #243e63;
}

body {

}

section {
    padding: 0 32px;
}


/* NAV BAR */

nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.row {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img {
    width: 40px;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
    margin-left: 12px;
    letter-spacing: 0.6px;
    padding-bottom: 2px;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    font-size: 20px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: .35px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms;
    margin: 0 24px;
}

.nav__link--login {
    margin-left: 48px;
    font-size: 20px;
    font-weight: 600;
}

.nav__link--primary {
    text-decoration: none;
    cursor: no-drop;
}

.nav__btn {
    background: #6415ff;
    color: #fff;
    padding: 10px 32px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 9999px;
    border: none;
    margin-top: 2px;
    line-height: 1.5;
    width: auto;
    transition: all 300ms;
}

.nav__link:hover {
    color: #6415ff;
    border-bottom: #6415ff;
    transition: all 300ms;
}

a {
    text-decoration: none;
}



